<% if @outage.errors.any? %>
  <div id="error-explanation">
    <h2><%= pluralize(@outage.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @outage.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :outage, url: outages_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :start_date %><br>
  <%= f.date_field :start_date, value: @outage.start_date %>
</p>

<p>
  <%= f.label :start_time %><br>
  <%= f.time_field :start_time, value: @outage.start_time, ignore_date: true %>
</p>

<p>
  <%= f.label :end_date %><br>
  <%= f.date_field :end_date, value: @outage.end_date %>
</p>

<p>
  <%= f.label :end_time %><br>
  <%= f.time_field :end_time, value: @outage.end_time, ignore_date: true %>
</p>

<%= f.hidden_field :time_zone, value: current_time_zone %>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit 'Save', class: "btn btn-default" %>
  <%= link_to 'Cancel', outages_path, class: "btn btn-default", role: "button" %>
</p>
<% end %>
