<h1>Outage <%= @outage.id %></h1>

<p>
  <strong>Title:</strong> <%= @outage.title %>
</p>

<p>
  <strong>Start Time:</strong> <%= @outage.start_time %>
</p>

<p>
  <strong>End Time:</strong> <%= @outage.end_time %>
</p>

<p>
  <strong>Time Zone:</strong> <%= @outage.time_zone %>
</p>

<p>
  <strong>Description:</strong> <%= @outage.description %>
</p>
