<h1>Outage <%= @outage.id %></h1>

<p id="title">
  <strong>Title:</strong> <%= @outage.title %>
</p>

<p id="start-time">
  <strong>Start Time:</strong> <%= @outage.start_datetime_in_time_zone_s(cookies['time_zone']) %>
</p>

<p id="end-time">
  <strong>End Time:</strong> <%= @outage.end_datetime_in_time_zone_s(cookies['time_zone']) %>
</p>

<p id="time-zone">
  <strong>Time Zone:</strong> <%= @outage.time_zone %>
</p>

<p id="description">
  <strong>Description:</strong> <%= @outage.description %>
</p>
