<%= render partial: 'shared/flash_area', locals: { model: @configuration_item } %>

<%= form_for :configuration_item, url: configuration_items_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit 'Save', class: "btn btn-default" %>
  <%= link_to 'Cancel', configuration_items_path, class: "btn btn-default", role: "button" %>
</p>
<% end %>
